<header class="d-flex align-content-center justify-content-center">
    <nav class="d-flex flex-column align-items-center justify-items-center header_bar">
        <a class="navbar-brand" asp-area="" asp-controller="Weather" asp-action="Index">RuralWeather</a>
        <input class="search_bar" placeholder="Search for location">
    </nav>
</header>
