<header class="d-flex align-content-center justify-content-center">
    <nav class="d-flex flex-column align-items-center justify-items-center header_bar">
        <img class="rural_weather_icon" src="./resources/ruralWeatherIcon.svg" alt="Rural Weather" />
        <input class="search_bar" placeholder="Search for location">
    </nav>
</header>
